@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@400;700&family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #181719;
}

header > nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

header > nav > div.logo{
    
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 2px 5px;
}

header > nav > div.logo:hover{
    font-weight: bolder;
    transform: scale(1.1);
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.5);
    cursor: pointer;
}

header > nav > div.menu{
    display: flex;
    gap: 50px;
}

header > nav > div.menu > li{
    list-style-type: none;
    color: #FFFFFF;   
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;

}

.underline-hover:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.underline-hover::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Espessura do sublinhado */
    bottom: 0;
    left: 50%; /* Começa no centro */
    background-color: #FFFFFF; /* Cor do sublinhado */
    transition: width 0.3s ease; /* Adicionando uma transição suave */
}

.underline-hover:hover::before{
    width: 100%;
    left: 0; /* A partir da esquerda para as bordas */
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 50px;
    gap: 20px;
}

main > div.content{
    flex-grow: 0.5;
    flex-basis: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    color: #FFFFFF;
}

main > div.content > h1{
    font-family: 'Lora', serif;
    font-size: max(min(4.7vw, 50px), 39px);
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}

main > div.content > p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 20px;
}

main > div.content > a{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    width: fit-content;
}

main > div.img{
    flex-grow: 1;
    flex-basis: 450px;
    max-height: calc(90vh - 150px);
    position: relative;
}

main > div.img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > div.img > div.post{
    position: absolute;
    max-width: 80%;
    background-color: #181719;
    bottom: 0px;
    right: 8%;
    transform: translate(0px, 50%);
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.5);

    display: flex;
    flex-flow: column nowrap;
    padding: 2%;
    gap: 5px;
}

main > div.img > div.post > div.info-profile{
    display: flex;
    max-height: 50%;
    gap: 10px;
    color: #FFFFFF;
}

.gray{
    color: #828282;
}

main > div.img > div.post > div.info-profile > div.profile-photo > img{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

main > div.img > div.post > div.info-profile > div.profile-description{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly; 
    font-size: max(min(3vw, 16px), 8px);
}

main > div.img > div.post > div.content-post{
    font-family: Lora;
    font-size: max(min(3vw, 20px), 8px);
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;
}

@media (max-width:600px) {
    
    main > div.content{
        flex-basis: 150;
    }
    
    main > div.img{
        flex-basis: 150;
        max-height: 50vh;
    }

    main > div.img > div.post > div.info-profile > div.profile-photo > img{
        max-width: 40px;
        max-height: 40px;
    }
}

@media (max-width:400px) {

    main{
        padding: 0px 5%;
    }

    main > div.img > div.post > div.info-profile{
        gap: 5px;
    }

    main > div.img > div.post > div.info-profile > div.profile-photo > img{
        max-width: 30px;
        max-height: 30px;
    }
}